
*{
    border-color: black;
    border-radius: 1px;
    border-width: 1p;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    padding: 10px 10px 10px 10px;
    background-color: #373737;
    height:500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px
}

.prev_output{
    width: 300px;
    height: 20px;
    background-color: #808080;
    text-align: right;
}

.calculator_output{
    width: 300px;
    height: 60px;
    background-color: #808080;
    text-align: right;
}

.buttons{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
}

.child{
    width: 67px;
    height: 60px;
}

#num_0{
    width: 144px;
}